.text-container span{
    margin: 20px 0 10px 0;
}

select {
    background-image:url('../images/down-arrow.png');
    background-repeat:no-repeat;
    background-size:15px;
    background-position:center;
    background-position-x: calc(100% - 15px);
    /* background-position: right center; */
    /* margin-right:20px; */
    
}

input[type="text"], textarea, select{
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
    width:100% !important;
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
    padding:15px 20px;
    border:0;
    background-color:rgb(240, 240, 240, 0.3);
    border:1px solid transparent;
    border-bottom:1px solid lightgray;
}

input[type="text"].specify{
    background-color:rgb(249, 248, 255);
    margin-top:15px;
}

input[type="radio"], label, input[type="checkbox"]{
    margin: 10px 10px 5px 0 ;
    display:inline-block;
}

input:focus, textarea:focus, select:focus{
    outline:0;
    box-sizing: border-box;
    border:1px solid black;
}

.review-name{
    display:flex;
    flex-direction: column;
}

.review-name button{
    margin-top:10px;
}

button{
    border:0;
    background-color:black;
    color:white;
    padding:20px 35px;
    /* border-radius:15px; */
}

.reminder-message{
    background-color:rgb(255, 228, 225, 0.2);
    color:grey;
    border:1px solid mistyrose;
    padding:25px;
    border-radius:15px;
    display:flex;
    flex-direction: column;
    text-align:center;
}

.reminder-message button{
    margin:15px auto 0 auto;
    display:block;
    background-color:white;
    color:black;
    border:1px solid black;
}

button:hover{
    cursor: pointer;
    background-color:mediumslateblue;
}

@media screen  and (min-width:768px){

    input[type="text"]{
      width:250px;
    }

    select, input[type="text"].specify{
        width:calc(50% - 15px) !important;
        margin-top:0;
        margin-right:15px;
    }

    .review-name{
        flex-direction: row;
    }

    .review-name input{
        flex:2;
    }
    
    .review-name button{
        margin-top:0;
        margin-right:10px;
        flex:1;
    }


}

@media screen  and (min-width:1024px){

    input[type="text"]{
      width:250px;
    }

    /* input[type=radio]{
        margin: 15px 10px;
    } */
  
    select, input[type="text"].specify{
        width:25% !important;
        margin-top:0;
        margin-right:15px;
    }

    .review-name input{
        flex:3;
    }
    
    .review-name button{
        margin-top:0;
        flex:1;
    }


}