h1, h2, h3, h4{
    margin:0;
    padding:0;
}
  
.inner-container{
    /* padding:35px 0; */
    display:flex;
    flex-direction: column;
}

.details-container{
    display:flex;
    flex-direction: column;
}

.text-container{
  margin-top:50px;
}

.text-container p{
  margin-bottom:25px;
}

.img-container img{
  width:100%;
  border:1px solid black;
  box-shadow: 5px 5px black;
  /* border-radius:25px; */
  /* box-shadow: 0 5px 15px rgba(0,0,0,0.1); */
}

.details-tag{
  text-transform: uppercase;
  display:block;
  font-size:12px;
  letter-spacing: 1px;
  color:mediumslateblue;
}

.vegan, .cruelty-free{
  padding:5px 15px;
  background-color:rgb(218, 255, 218);
  border-radius:15px;
  margin-right:10px !important;
  color:rgb(65, 153, 65);
}

.cruelty-free{
  background-color:mistyrose;
  color:palevioletred;
}

.comments-container{
  margin-top:50px;
  background-color: #f5f5f5;
  padding:20px 30px;
  /* border-radius: 15px; */
  margin-bottom:50px;
}

.comment-input{
    margin-bottom:15px;
    display:flex;
    flex-direction: column;
}

.comment-input label{
    margin-bottom:10px;
}

.postcmt-btn{
    width:100%;
}

.each-comment{
  /* background-color:azure; */
  display:flex;
  flex-direction:column;
  margin:20px 0;
  padding-bottom:25px;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.each-comment div{
  padding-top:10px;
}

.each-comment b{
  color:mediumslateblue;
}

.offer{
    display:flex;
    flex-direction: column;
}

.comment-buttons{
  display:flex;
  flex-direction: row;
  margin-top:15px;
}

.comment-buttons button, .back-btn, .edit-btn{
  border:1px solid black;
  /* border:0 !important; */
  color:black;
  background-color:white;
  padding:15px 15px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width:50%;
}

.back-btn{
  width: 120px;
}

.back-btn .st0{
  fill:transparent;
  stroke:#000000;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
  stroke-width:3;
}

.edit-btn{
  width:100%;
}

.back-btn svg, .edit-btn svg{
  /* background-color:pink; */
  width:20px;
  margin-right:15px;
}

.edit-btn .st0{
  fill:transparent;
  stroke:#000000;
  stroke-miterlimit:10;
  stroke-width:3;
}

.edit-btn .st1{
  fill:transparent;
  stroke:#000000;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
  stroke-width:3;
}

button:hover .st0, button:hover .st1{
  stroke: white;
}

.delete-btn svg{
  width:15px;
  margin-right:15px;
}

.delete-btn .st0{
  fill:none;
  stroke:#000000;
  stroke-miterlimit:10;
  stroke-width:2;
}

.delete-btn .st1{
  fill:none;
  stroke:#000000;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
  stroke-width:2;
}

.reply-btn:hover{
  background-color:rgb(238, 238, 238) !important;
  color:black !important;
}

.delete-btn:hover{
  border:1px solid red;
  background-color:rgb(255, 234, 234) !important;
  color:red !important;
}

.delete-btn:hover .st0, .delete-btn:hover .st1{
  stroke:red !important;
}

.reply-btn{
  margin-right:15px;
}

.comment-buttons img, .back-btn img{
  width:15px;
  margin-right:15px;
}

.date-posted{
  /* background-color:rgb(231, 231, 231); */
  background-color:black;
  border:1px solid black;
  color:white;
  margin-top:15px;
  padding:10px;
  text-align:center;
}

.user{
  /* margin-top:15px; */
  border:1px solid black;
  color:black;
  display:flex;
  flex-direction: row;
  /* align-items: center; */
  align-items: stretch !important;
}

.user-icon{
  border:0;
  /* width:15px; */
  /* height:15px; */
  padding:15px;
  background-color:mediumslateblue;
  border-right:1px solid black;
  box-shadow: 0 0;
  display:flex;
  align-items:center;
  justify-content: center;
}

.user-icon img{
  width:15px;
  border:0 !important;
  box-shadow: none !important;
}

.user-text{
  padding:15px;
}

.user .st0{
  fill:transparent;
  stroke:white;
  stroke-miterlimit:10;
  stroke-width:2;
}

.no-comments{
  text-align:center;
  margin-bottom:50px;
}

@media screen  and (min-width:1024px){

  .details-container{
    flex-direction: row;
  }

  .img-container{
    flex:1;
    /* background-color:pink; */
  }

  .text-container{
    /* background-color:palegoldenrod; */
    margin-left:50px;
    margin-top:0;
    flex:2;
  }

  .postcmt-btn{
      width:auto;
  }

  .edit-btn{
    width:150px;
    margin-left:auto;
  }

  .each-comment{
    flex-direction:row;
    margin:35px 0;
  }

  .each-comment div{
    padding-top:0px;
  }

  .each-comment div:first-child{
    padding-right:35px;
  }

  .each-comment div:first-child,.each-comment div:nth-child(3){
    /* background-color:pink; */
    flex:1;
  }

  .each-comment div:nth-child(2){
    flex:6;
    padding-right:25px;
  }

  .each-comment div:nth-child(3){
    display:flex;
    justify-content: flex-end;
    align-items: center;
  }

  .comment-buttons{
    margin-top:0;
  }

  .comment-buttons button{
    border: 0 !important;
    padding:15px 20px;
    flex-direction: column;
    /* border-radius:15px; */
  }
  
  .comment-buttons img, .delete-btn svg{
    width:20px;
    margin-right:0;
    margin-bottom:5px;
  }

  .name-offer{
    display:flex;
    flex-direction:row;
  }

}