a:hover, li:hover{
    background-color:rgb(247, 247, 247);
    cursor:pointer;
}

li{
    margin:10px 0 10px 0;
}

.inner-container{
    display:flex;
    flex-direction: column;
}

.hero-banner{
    background-color:black;
    width:100%;
    padding:100px 0;
    background-size: cover;
    background-position:center !important;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    border-bottom:1px solid black;
}

.search-results{
    display:flex;
    flex-direction: column;
  /* background-color:mediumslateblue; */
}

.indiv-product{
    box-sizing: border-box;
    padding:0 0 20px 0;
    width:100%;
}

.no-of-products{
  text-align:left;
  width:100%;
  margin: 0 10px 15px 10px;
}

.no-of-products h2{
  color: black !important;
}

.indiv-product a{
  display:flex;
  flex-direction:row;
  align-items:center;
  position:relative;
  background-color: rgb(240, 240, 240, 0.5);
  /* border-radius:15px; */
  overflow:hidden;
  /* padding:20px; */
  z-index:0;
  box-sizing: border-box;
  border:1px solid black;
}

.indiv-product a:hover{
  background-color: white;
  /* background-color: rgb(240, 240, 240, 0.8); */
  box-shadow: 5px 5px black;
  transform: translate(-5px, -5px)
}

.indiv-product a img{
  width:130px;
}

h2, h3{
  color:black;
}