body{
    /* font-family: Helvetica; */
    font-family: 'Manrope', sans-serif;
    /* font-family: 'Archivo', sans-serif; */
    color: grey;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:0;
    padding:0;
    /* background-color: #fafafa; */
}

@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;700&display=swap');


img{
    pointer-events: none;
}

h1{
    /* color: rgb(132, 212, 132); */
    color:black;
    /* background-color: honeydew; */
    margin:0 0 20px 0;
    /* padding:20px 0 20px 20px; */
    /* font-family: 'Fugaz One', cursive; */
}

.main-container{
    width:100%;
    /* background-color:black; */
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    width:80%;
    box-sizing: border-box;
}

ol, ul{
    padding:0;
    margin:0;
    list-style-type: none;
}

section{
    width:80%;
    /* padding: 0px 20px 0 20px; */
    padding:20px;
}

nav{
    width:100%;
    /* padding:20px; */
    /* background-color: rgb(253, 241, 239); */
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding:15px;
    position:sticky;
    top:0;
    /* height:75px; */
    /* position:fixed; */
    /* top:0; */
    /* z-index:10; */
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}